# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/
src/*.egg-info/

# Environment
.venv/
env/
venv/

# Local configuration files
.env
credentials.json

# Others
.vscode/
.DS_Store
*.log
